/*  all the em measurements start from this setting
--------------------------------------------------------------------------------------- */
html {
  font-size: 18px;
}

/*  global styles to reset default values
--------------------------------------------------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
ul,
li,
img,
video,
section,
figure,
figcaption,
main,
footer,
h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
colors
--yellow: #fafa00ff;
--rusty-red: #d33643ff;
--pale-azure: #70d6ffff;
--black: #000000ff;
--white: #ffffffff;
*/


body {
  position: relative;
  font-display: swap;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
    background-image: linear-gradient(#b1e9ff 1px, transparent 1px),
      linear-gradient(to right, #b1e9ff 1px, #ffffff 1px);
    background-size: 20px 20px;
}

strong {font-weight: 900;}

/* general page layout styles
--------------------------------------------------------------------------------------- */
.container {
  padding: .5rem
}

main, header, footer {
  max-width: 72rem;
  margin: 0 auto;
  background-color: #ffffff; 
  border: 1px solid;
  border-radius: .3rem;
  box-shadow: 5px 8px;
}

header{
  margin-top: 
  .5rem; 
  margin-bottom: 1rem;
}

footer {
  min-height: 110px;
  margin-top: 1rem;
  margin-bottom: .5rem;
}
.content-padding {padding-left:2rem; padding-right: 2rem;}

main img {width: 100%; height: auto;}
section {margin-top: 2rem;}

h2{margin-bottom: .5rem}

section.latest {
  background-color: #fafa00ff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.home {margin-bottom: 5rem; margin-top: 3rem;}

section.tag-post-list article {margin-bottom: 2rem; padding-top: 1rem; padding-bottom:1rem; border: 3px dashed #000000; padding-left: 1rem;}
section.tag-post-list article img {display: none;}

section.tag-post-list article:nth-child(odd) {background-color: #70d6ffff;
  margin-bottom: 2rem;
}


/*  Tag styling
--------------------------------------------------------------------------------------- */

.taglist {text-wrap: wrap; text-align: center; margin-top: 2rem; margin-bottom: 4rem;}

.tag {
  font-size: 0.9rem;
  display: inline-block; 
  background-color:#d33643ff; 
  margin-right: 15px; 
  margin-bottom: 20px; 
  padding: 3px; 
  padding-left: 11px; 
  padding-right: 11px; 
  border-radius: 8px;
}

.smalltag {
  font-size: 0.8rem;
  display: inline-block;
  background-color: #d33643ff;
  margin-right: 8px;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
}
.tag a, .smalltag a {
  color: #ffffff;
}
.tag a:hover, .smalltag a:hover {
  color: #fafa00ff;
}

/*  default paragraph styling
--------------------------------------------------------------------------------------- */
p {
  margin: 0 0 1rem 0;
  line-height: 1.375em;
}

/*  link styling
--------------------------------------------------------------------------------------- */
a {
  color: #d33643ff;
  text-decoration: underline;
}

a:hover {
  color: #049bd6;
  text-decoration: underline;
}
