---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const posts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const tags = [...new Set(posts.map(post => post.data.tags).flat())];
const pageTitle = 'Tag Index';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map(tag => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
