---
import BaseLayout from '../layouts/BaseLayout.astro';
import LatestPosts from '../components/LatestPosts.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>My awesome blog subtitle</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
    cupiditate quia facere ipsa tenetur magni. Temporibus repudiandae voluptates
    ullam et voluptas asperiores nihil laborum culpa commodi maxime. Ad,
    similique eveniet!
  </p>

  <LatestPosts />
</BaseLayout>
