---
const { posts, gridTitle } = Astro.props;
import '../styles/component-styles/grids.css';
import PostPreview from './PostPreview.astro';
---

<section class="audiogrid">
  <h2 class="content-padding">{gridTitle}</h2>
  <p class="content-padding">Lorem Ipsim audio stuffs</p>
  <div class="grid content-padding">
    {
      posts.map(post => (
        <PostPreview
          url={'/posts/' + post.slug}
          data={post.data}
          id={post.id}
        />
      ))
    }
  </div>
</section>
