---

---

<header>
  <nav>
    <div>
      <a class="font-medium" href="/">Home</a>
      <a class="font-medium" href="/about">About</a>
      <a class="font-medium" href="/posts">Blog</a>
      <a class="font-medium" href="/tags">Tags</a>
    </div>
  </nav>
</header>
