---
const { posts, gridTitle } = Astro.props;
---

<h1>{gridTitle}</h1>
<div>
  <ul>
    {
      posts.map(post => (
        <li>
          <a href={'/posts/' + post.slug}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</div>
