---
const { posts, gridTitle } = Astro.props;
import '../styles/component-styles/postgrid.css';
import PostPreview from './PostPreview.astro';
---

<h1>{gridTitle}</h1>
<section class="postgrid">
  {
    posts.map(post => (
      <PostPreview url={'/posts/' + post.slug} data={post.data} id={post.id} />
    ))
  }
</section>
